<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUDDataGridWPF.Properties.Settings.EmployeeDBConnectionString"
            connectionString="Data Source=B314LTRV\SQLEXPRESS;Initial Catalog=EmployeeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CRUDDataGridWPF.Properties.Settings.N295_dataConnectionString"
            connectionString="Data Source=10.0.0.9\SQL2008;Initial Catalog=N295_data;Persist Security Info=True;User ID=sa;Password=CCSSQL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>