<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUDDataGridWPF.Properties.Settings.Olanet_OrdonezV5_DatosConnectionString"
            connectionString="Data Source=svrsqlmes;Initial Catalog=Olanet_OrdonezV5_Datos;Persist Security Info=True;User ID=sa;Password=admSQL27"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
